<!DOCTYPE html>
<html lang="en">
<head>
    <title>Сотрудник-М</title>

    <!--JQUERY-->
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script
            src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>

    <!-- Los iconos tipo Solid de Fontawesome-->
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

    <!-- Nuestro css-->
    <link rel="stylesheet" type="text/css" href="script/css/user-form.css"
          th:href="@{/css/user-form.css}">
    <!-- DATA TABLE -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">


</head>
<body>
<div class="container">
    <div class="mx-auto col-sm-12 main-section" id="myTab" role="tablist">
        <ul class="nav nav-tabs justify-content-end">
            <li class="nav-item">
                <a class="nav-link active" id="coworkers-tab" data-toggle="tab" href="#coworkers" role="tab"
                   aria-controls="list" aria-selected="false">Сотрудники</a>
            </li>
            <li class="nav-item">
                <a onclick="getDepartments()" class="nav-link" id="departments-tab" data-toggle="tab" href="#departments" role="tab"
                   aria-controls="form" aria-selected="true">Отделы</a>
            </li>
            <li class="nav-item">
                <a onclick="getProfessions()" class="nav-link" id="professionals-tab" data-toggle="tab" href="#professionals" role="tab"
                   aria-controls="form" aria-selected="true">Профессии</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="coworkers" role="tabpanel" aria-labelledby="coworkers-tab">
                <div class="card">
                    <div class="card-header">
                        <h4>Сотрудники</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="userList" class="table table-bordered table-hover table-striped">
                                <thead class="thead-light">
                                <tr>
                                    <th scope="col">№</th>
                                    <th scope="col">Имя</th>
                                    <th scope="col">Фамилия</th>
                                    <th scope="col">Отчество</th>
                                    <th scope="col">Примечение</th>
                                    <th scope="col">Отдел</th>
                                    <th scope="col">Специальность</th>
                                    <th scope="col">Действия</th>
                                </tr>
                                </thead>
                                <tbody id="coworkersTable">
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="departments" role="tabpanel" aria-labelledby="departments-tab">
                <div class="card">
                    <div class="card-header">
                        <h4>Отделы</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="userList1" class="table table-bordered table-hover table-striped">
                                <thead class="thead-light">
                                <tr>
                                    <th scope="col">№</th>
                                    <th scope="col">Наименование</th>
                                    <th scope="col">Примечение</th>
                                    <th scope="col">Родительский Отдел</th>
                                    <th scope="col">Действия</th>
                                </tr>
                                </thead>
                                <tbody id="departmentsTable">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="professionals" role="tabpanel" aria-labelledby="professionals-tab">
                <div class="card">
                    <div class="card-header">
                        <h4>Профессии</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="userList2" class="table table-bordered table-hover table-striped">
                                <thead class="thead-light">
                                <tr>
                                    <th scope="col">№</th>
                                    <th scope="col">Наименование</th>
                                    <th scope="col">Примечение</th>
                                    <th scope="col">Действия</th>
                                </tr>
                                </thead>
                                <tbody id="professionsTable">
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script src="/static/script/index.js"></script>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Окно редактирования</h5>
                <button type="button" id="closedata" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="name" class="col-form-label">Имя:</label>
                        <input type="text" name="name" class="form-control" id="name">
                    </div>
                    <div class="form-group">
                        <label for="lastname" class="col-form-label">Фамилия:</label>
                        <input type="text" name="lastname" class="form-control" id="lastname">
                    </div>
                    <div class="form-group">
                        <label for="surname"  class="col-form-label">Отчество:</label>
                        <input type="text" class="form-control" name="surname" id="surname">
                    </div>
                    <div class="form-group">
                        <label for="note"  class="col-form-label">Примечание:</label>
                        <input type="text" class="form-control" name="note" id="note">
                    </div>
                    <nav>
                        <ul class="topmenu">
                            <li><a href="">Отделы</a>
                                <ul class="submenu">
                                    <li><a class="listElement" href="">Category</a></li>
                                    <li><a class="listElement" href="">Author</a></li>
                                    <li><a class="listElement" href="">Archive</a></li>
                                    <li><a class="listElement" href="">Tags</a></li>
                                </ul>
                            </li>
                            <li><a href="">Профессии</a>
                                <ul class="submenu">
                                    <li><a class="listElement" href="">Category</a></li>
                                    <li><a class="listElement" href="">Author</a></li>
                                    <li><a class="listElement" href="">Archive</a></li>
                                    <li><a class="listElement" href="">Tags</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" onclick="updateItem()" id="btn" class="btn btn-primary">Обновить</button>
            </div>
        </div>
    </div>
</div>

</body>

<script src="/static/script/index.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        //Asegurate que el id que le diste a la tabla sea igual al texto despues del simbolo #
        $('#userList').DataTable();
    });

    $('#exampleModal').on('show.bs.modal', function (event) {
        const button = $(event.relatedTarget);
        const recipient = button.data('whatever');
        const modal = $(this);
        modal.find('.modal-title').text('New message to ' + recipient);
        modal.find('.modal-body input').val(recipient);

    });

</script>
</html>